$pink:#e91e8f;
$blue:#27aae1;

@font-face {
  font-family: 'BebasNeue';
  src: url("./BebasNeueBook.otf") format("opentype");
}

@font-face {
  font-family: 'BebasNeue';
  font-weight: bold;
  src: url("./BebasNeueBold.otf") format("opentype");
}

@font-face {
  font-family: 'BebasNeue';
  font-weight: 500;
  src: url("./BebasNeueRegular.otf") format("opentype");
}

@font-face {
  font-family: 'BebasNeue';
  font-weight: lighter;
  src: url("./BebasNeueThin.otf") format("opentype");
}

body {
  font-family: 'BebasNeue';
  margin: 0;
  background-color: #1A1A1A;
  color: white;
}

h1 {
  margin-top: 50px;
  border-bottom: 4px solid white;
  font-weight: 500;
  font-size: 40px;
}
