$pink:#e91e8f;
$blue:#27aae1;

@font-face {
  font-family: 'BebasNeue';
  src: url("./BebasNeueBook.otf") format("opentype");
}

@font-face {
  font-family: 'BebasNeue';
  font-weight: bold;
  src: url("./BebasNeueBold.otf") format("opentype");
}

@font-face {
  font-family: 'BebasNeue';
  font-weight: lighter;
  src: url("./BebasNeueThin.otf") format("opentype");
}

body {
  font-family: 'BebasNeue';
  margin: 0;
  background-color: #111;
  color: white;
}
