$text-color: white;

.aboutUsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  & p {
    font-weight: lighter;
    font-size: 20px;
  }
}

.aboutUsBody {
  width: 460px;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
}
