$text-color: white;

.gigsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.satellite {
  position: absolute;
  top: -130px;
  left: -300px;
  width: 500px;
}

.tourDates {
  position: relative;
  top: 10px;
}

.tourDate {
  position: relative;
  display: flex;
  padding: 8px 0 6px 0;
  border-top: 2px solid $text-color;
  width: 650px;
  font-size: 20px;

  &:last-child {
    border-bottom: 2px solid $text-color;
  }
}

.tourDay {
  width: 35px;
  font-weight: bold;
}

.tourVenue {
  width: 40%;
  margin-left: 75px;
}

.tourLocation {
  width: 35%;
}

.tourLink {
  position: absolute;
  right: 0;
  font-weight: bold;
  color: $text-color;
  text-decoration: none;

  &.deadLink {
    color: grey;
    cursor: default;
    pointer-events: none;
  }
}

.tourDateStrikeThrough {
  position: absolute;
  top: 40%;
  left: -3%;
  width: 106%;
  z-index: 1;

  &.tourDateHasPast {
    border-top: 3px solid #e91e8f;
  }
}
