.contactWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 511px;
}

.contactText {
  width: 650px;
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 25px;
  color: white;
  margin-top: 15px;
}

.contactSenderContainer {
  width: 650px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  margin-top: 25px;
}

.contactSenderForm {
  padding: 10px 0px 7px 10px;
  width: 46.5%;
  border-style: none;
  border-radius: 2px;
  font-size: 18px;
  font-family: 'BebasNeue';
  font-weight: 500;

  &::placeholder {
    color: grey;
    font-weight: 400;
  }
}

.contactSenderMessage {
  width: 630px;
  height: 150px;
  padding: 10px;
  padding-left: 10px;
  border-style: none;
  border-radius: 2px;
  margin-bottom: 25px;
  font-size: 18px;
  font-family: 'BebasNeue';
  font-weight: 500;
  resize: none;

  &::placeholder {
    color: grey;
    font-weight: 400;
  }
}

.contactSendButton {
  width: 200px;
  height: 50px;
  border-style: none;
  border-radius: 2px;
  color: white;
  border: 1px solid white;
  font-size: 24px;
  font-family: 'BebasNeue';
  font-weight: bolder;
  background: linear-gradient(to right, #e91e8f , #416eb6);
  padding-top: 7px;
}

.contactSendButton:hover {
  cursor: pointer;
}

.spacecraft {
  position: absolute;
  height: 400px;
  left: 62%;
  top: 69%;
}

.mailLink {
  color: white;
  text-decoration: none;
}
