.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  color: black;
}

.album {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.album-cover {
  width: 150px;
  height: 150px;
}

.track:hover {
  cursor: pointer;
}
