.headerWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  border-bottom: 2px solid blue;
}

.headerLink {
  cursor: pointer;
  text-transform: uppercase;
}
